h1{text-align: center; text-decoration: underline double; margin: 100px;}
h2{ text-align: center; text-decoration: underline solid; margin: 50px;}
img{margin-left:30%; width: 550px;height: 300px ;}
p{margin-left: 80%; text-decoration: underline;}